version: '3'

services: 
    db:
        image: percona:5.7
        container_name: db
        environment:
            MYSQL_ROOT_PASSWORD: toor
        volumes:
            - ./db/db_data:/var/lib/mysql
            - ./db/conf:/etc/mysql/conf.d/custom.cnf
        ports:
            - 3309:3306/tcp
    tomcat:
        image: tomcat:9-jdk11 
        container_name: tomcat
        environment:
            db_username: root
            db_password: toor
        volumes:
            - ./tomcat/webapps:/usr/local/tomcat/webapps
            - ./tomcat/conf/tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml
            - ./tomcat/conf/context.xml:/usr/local/tomcat/conf/context.xml
        ports:
            - 8082:8080

