[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
server-id=1
bind-address=0.0.0.0
port = 3306

collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8


## Cache
table-definition-cache               = 4096
thread-cache-size                    = 256
query-cache-size                     = 64M
query-cache-type                     = 1


## Per-thread Buffers
sort-buffer-size                     = 16M


## Temp Tables
max-heap-table-size                  = 512M
tmp-table-size                       = 512M


## InnoDB
innodb_buffer_pool_size              = 6G
innodb-log-file-size                 = 256M
innodb-thread-concurrency            = 18
innodb_flush_log_at_trx_commit = 2
#innodb_force_recovery = 4
innodb_log_checksums = ON
innodb_file_per_table=1
# binlog_format=ROW


## Networking
interactive-timeout                  = 3600
max-connections                      = 400
max-connect-errors                   = 1000000
skip-name-resolve
wait-timeout                         = 28800
max_allowed_packet = 1024M
connect_timeout = 3000
net_read_timeout = 3000
net_write_timeout = 3000

sql-mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"
# sql-mode = ""

#log-error = "/dev/stderr"

local-infile=1
secure-file-priv="/tmp"

